<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat Screen</title>
  <script src="/script.js"></script>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div class="chat-container">
    <div class="chat-messages" id="chat-messages">
      <!-- Message containers will be dynamically added here -->
    </div>
    <input type="text" id="message-input" placeholder="Type your message...">
    <button id="send-btn">Send</button>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
</body>
</html>
